/* GENERAL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
}

.d-none {
  display: none;
}

body {
  color: #091f39;
}

/* HEADER STYLING */

.banner {
  border: 1px solid #eef3f3;
  border-radius: 0.375rem;
}

/* SIDEBAR STYLING */

button {
  color: #091f39 !important;
  background-color: #a8b7e2 !important;
}

.recent-search li {
  padding: 0.5rem 0px 0.5rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.recent-search li:hover {
  color: #a8b7e2;
}

/* WEATHER DISPLAY SECTION */

.weather {
  background-color: #112b50;
  color: #fafcfe;
}

.current-weather li {
  font-size: 1.5rem;
  padding: 0.25rem;
}
